<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="../static/css/consequencias.css">
    <title>Consequencias</title>
     <script>
    function openWin() {
      window.open("http://localhost:63342/Project/templates/index.html?_ijt=o1ejl2eus7gt7g5i2lhdvnjr1f&_ij_reload=RELOAD_ON_SAVE");
    }
    </script>
</head>
    <body>
        <h1>
            Consequencias
        </h1>

        <h2>
            Desmatamento
        </h2>

            <p>
                A principal consequência do desmatamento está atrelada ao desequilíbrio ambiental provocado pela perda da vegetação nativa. A remoção da vegetação provoca uma grande perda da biodiversidade assim como a perda do habitat de animais e plantas, e, ainda, impacta diretamente na elevação do número de espécies em extinção.<br>
                Desse modo, o desmatamento causa um conjunto de impactos ambientais que geram uma grande mudança no ecossistema local, alterando drasticamente as características geográficas e biológicas da área desmatada. Além disso, o desmatamento provoca consequências sociais negativas, em especial, nas comunidades tradicionais e muito dependentes das florestas.<br>
                O processo de mudança das condições climáticas verificado no globo nos últimos anos é um fenômeno que tem como um dos causadores a crescente destruição da vegetação nativa de diferentes biomas nele. Ademais, a elevação da temperatura e a ocorrência de eventos climáticos extremos são apontadas por alguns pesquisadores como resultantes de processos de origem antrópica, sendo um dos principais o desmatamento.<br>
                Além disso, o desmatamento acelera a ocorrência de processos naturais que são intensificados pela ação humana. A remoção da vegetação impacta diretamente no aumento da erosão e da desertificação, por exemplo. No mais, o desmatamento interfere no ciclo hidrológico e ocasiona efeitos como o esgotamento das fontes de água, já que a retirada da vegetação dificulta a absorção da água da chuva pelo subsolo e o consequente abastecimento das reservas subterrâneas e das nascentes.
            </p>

        <h2>
            Queimadas
        </h2>

            <p>
                As consequências das queimadas, de modo geral, são prejudiciais, tanto ao meio ambiente quanto à saúde humana. De forma direta, as queimadas geram destruição ambiental dos biomas e áreas que elas afetam, e elas também emitem gases poluentes e fumaça, que causam mal à saúde do ser humano, quando inalados imediatamente. Outras doenças respiratórias podem ser desenvolvidas pelo contato direto com esses gases, como bronquite, sinusite e rinite.<br>
                Essa emissão de gases e fumaça também afeta o meio ambiente e contribui para o chamado aquecimento global e efeito estufa. Esses gases desequilibram a temperatura do planeta Terra, aumentando-a, promovendo diversos efeitos negativos, como desequilíbrio do ciclo da água, com ausência de chuvas em diversas regiões do mundo e aumento do nível dos oceanos, em decorrência do derretimento das calotas polares.<br>
                Com a diminuição de chuvas, temos a diminuição de áreas de vegetação natural e consequente perda da biodiversidade (fauna e flora). Com a eliminação desses biomas, há o aumento das áreas de desertos ou de processos de formação de desertos. Em suma, haverá um constante desequilíbrio ambiental se nada for feito para combater essa prática humana tão agressiva.
            </p>

        <form>
            <input type="button" value="Voltar" onclick="openWin()" >
        </form>

    </body>
</html>