<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/principal.css">
    <title>Resumo sobre: Desmatamento e Queimadas</title>
</head>

    <body>
        <h1>
            Resumo sobre: Desmatamento e Queimadas
        </h1>

        <ul>
            <li class="topicos"><a href="http://localhost:63342/Project/templates/causas.html?_ijt=4ccoj21jdjanqd0f933ugaegku&_ij_reload=RELOAD_ON_SAVE">Causas</a></li>
            <li class="topicos"><a href="http://localhost:63342/Project/templates/consequencias.html?_ijt=4ccoj21jdjanqd0f933ugaegku&_ij_reload=RELOAD_ON_SAVE">Consequencias</a></li>
            <li class="topicos"><a href="http://localhost:63342/Project/templates/solucoes.html?_ijt=4ccoj21jdjanqd0f933ugaegku&_ij_reload=RELOAD_ON_SAVE">Soluções</a></li>
        </ul>

        <h2>
            Desmatamento no Brasil
        </h2>

        <figure>
            <img src="../imagens/desmatação.jpeg" width="800" height="400">
            <figcaption>
                Sobre Desmatamento
            </figcaption>
        </figure>

            <p>
                O desmatamento é a retirada total ou parcial da cobertura vegetal de um local, que impacta a biodiversidade e causa um desequilíbrio ao meio ambiente, trata-se de um dos principais problemas ambientais enfrentados pelo Brasil.<br>
                Embora o país apresente mais de 50% do seu território coberto por florestas, entre 1985 e 2019 cerca de 10% da vegetação nativa deixou de existir.<br>
                O Brasil está entre os primeiros na lista dos países que mais desmatam, o desmatamento da Amazônia tem sido o mais preocupante, já que as taxas voltaram a subir nos últimos anos.
            </p>

        <h2>
            Queimadas no Brasil
        </h2>

        <figure>
            <img src="../imagens/queimadas.jpeg" width="800" height="400">
            <figcaption>
                Sobre Queimadas
            </figcaption>
        </figure>

            <p>
                Alguns fatores têm feito as queimadas no Brasil aumentarem, como o avanço do desmatamento e a ampliação das áreas de pastagem e atividades econômicas ligadas à agropecuária.<br>
                Outro fator que acaba influenciando na propagação de incêndios pelo território brasileiro é o tempo seco e quente, vivenciado em grande parte do país entre agosto e setembro. Esse tempo mais seco, aliado à ação dos ventos, pode fazer as chamas aumentarem-se e proliferarem-se, e a ausência de chuvas comum nessa época do ano faz com que as queimadas em larga escala ampliem-se.<br>
                Em sua grande maioria, essas queimadas são provocadas pela ação humana de maneira criminosa. Os incêndios são muitas vezes ligados às atividades econômicas, iniciados por agricultores em áreas de pastagens, para renovação de pastos, e por grupos que causam desmatamento para eliminar vegetação rasteira e retirada de madeira para comercialização.<br>
                Essas práticas acabam por atingir diversas florestas, como é o caso dos biomas Amazônia, Pantanal e Cerrado, onde áreas de proteção ambiental, como o Parque Nacional da Chapada dos Veadeiros (GO) ou Parque Nacional das Emas (MT e GO), a Chapada Diamantina (BA) e o Pantanal (MT e MS) estão sofrendo severos danos ambientais.<br>
                Segundo o Instituto Nacional de Pesquisas Espaciais (Inpe), o Brasil registrou mais de 318 mil km² de área destruída pelo fogo em 2019, isso equivale aos tamanhos dos estados do Rio de Janeiro e São Paulo juntos.<br>
                Segundo o Inpe, todos os seis biomas brasileiros sofreram com essas ações, mas Amazônia, Pantanal e Cerrado são os que mais têm sofrido com os focos de incêndio. Em 2020, o bioma da Amazônia teve mais de 64 mil focos de incêndio, seguido do Pantanal, com mais de 14 mil focos, e do Cerrado, superando a casa do 10 mil focos de incêndio.
            </p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    </body>
</html>