<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="../static/css/solucoes.css">
    <title>Soluções</title>
</head>
    <body>
        <h1>
            Soluções
        </h1>

        <h2>
            Desmatamento
        </h2>

        <p>
            As soluções para o desmatamento em nível global e regional devem estar concentradas na possibilidade de diminuir-se o volume desmatado, preservar-se a biodiversidade e garantir-se condições de vida adequadas para a população. Desse modo, as soluções para o desmatamento perpassam por:<br>
        </p>

            <ul>
                <li class="topico">Implementação de um modelo econômico de produção baseado no desenvolvimento sustentável;</li>
                <li class="topico">Participação do poder público e da iniciativa privada no desenvolvimento de ações de preservação ambiental;</li>
                <li class="topico">Aplicação da legislação ambiental por meio da fiscalização e da punição de crimes ambientais;</li>
                <li class="topico">Bonificação para produtores rurais e outros atores econômicos que contribuem para a preservação de áreas de floresta;</li>
                <li class="topico">Criação de unidades de conservação e preservação ambiental com foco em regiões com alta biodiversidade;</li>
                <li class="topico">Promoção de políticas de reflorestamento de áreas devastadas com espécies nativas e repovoamento de animais. </li>
            </ul>

        <h2>
            Queimadas
        </h2>

            <p>
                Solucionar o problema das queimadas no mundo é um caso complicado, devido às grandes áreas de florestas que se tem pelo mundo. Cada país deve criar seu próprio sistema de monitoramento e fiscalização, para encontrar os culpados e, assim, aplicar as sansões legais de cada Constituição.<br>
                A criação de penalidades legais em cada país é a forma mais eficiente de tentativa de combate aos incêndios, com criação de multas elevadas para quem os comete. Outras ações podem ser realizadas para evitar incêndios acidentais, como o não descarte de cigarros ou materiais em chamas próximo de áreas de florestas ou pastagens e estradas.<br>
                Deve-se também evitar fogueiras em áreas de acampamentos ou próximas da vegetação, para que as chamas não se alastrem e tornem-se um incêndio em larga escala. Ainda, não queimar móveis ou lixo, pois as fagulhas podem ser levadas pelos ventos e causar algum incêndio.
            </p>

    </body>
</html>