<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/principal.css">
    <title>Bem-Vindo</title>
</head>
<body>

    <h1>
        Seja Bem-vindo ao nosso gerenciador de informações
    </h1>

     <figure>
            <img src="../imagens/terra.jpeg" width="800" height="400">
            <figcaption>
                Sobre Desmatamento
            </figcaption>
        </figure>

</body>
</html>