<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/telaInicial.css">
    <title>Bem-Vindo</title>

    <script>
    function openWin() {
      window.open("http://localhost:63342/Project/templates/index.html?_ijt=o1ejl2eus7gt7g5i2lhdvnjr1f&_ij_reload=RELOAD_ON_SAVE");
    }
    </script>
</head>
<body style="background-image: url('../imagens/img_1.png');">

    <h1 class="tituloPrincipal">
        Seja Bem-vindo ao nosso gerenciador de informações
    </h1>

    <div onmousedown="mDown(this)" onmouseup="mUp(this)"
    style="background-color:#cc3300;text-align:center;font-size: 40px;width:600px;height:40px;padding:40px;margin-right: 80px;margin-left: 380px;">
    Click em mim</div>

    <script>
    function mDown(obj) {
      obj.style.backgroundColor = "#00cc00";
      obj.innerHTML = "Vamos proteger as florestas";
    }

    function mUp(obj) {
      obj.style.backgroundColor="#663300";
      obj.innerHTML="Click e segure";
    }
    </script>

    <form class="botao">
    <input type="button" value="Avançar" onclick="openWin()" >
    </form>

</body>
</html>